Source: ros-noetic-mia-hand-ros-control
Section: misc
Priority: optional
Maintainer: Andrea Burani <andreabu@prensilia.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib, ros-noetic-catkin, ros-noetic-control-msgs, ros-noetic-control-toolbox, ros-noetic-controller-manager, ros-noetic-hardware-interface, ros-noetic-joint-limits-interface, ros-noetic-mia-hand-description, ros-noetic-mia-hand-driver, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-trajectory-msgs, ros-noetic-transmission-interface, ros-noetic-urdf
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-mia-hand-ros-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-control-msgs, ros-noetic-control-toolbox, ros-noetic-controller-manager, ros-noetic-hardware-interface, ros-noetic-joint-limits-interface, ros-noetic-mia-hand-description, ros-noetic-mia-hand-driver, ros-noetic-pluginlib, ros-noetic-ros-controllers, ros-noetic-roscpp, ros-noetic-trajectory-msgs, ros-noetic-transmission-interface, ros-noetic-urdf
Description: Package for interfacing Mia Hand to ROS Control.
 Tested under ubuntu 18.04.3 LTS and 20.04.01 and ROS Noetic.
